<div class="card p-4">
  <h4><%= item.name %></h4>
  <%= form_for order_item, remote: true do |f| %>
  <h5>Prix unitaire : <%= order_item.unit_price %>€</h5>
  <br>
    <div class="input-group">
      <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
      <%= f.hidden_field :item_id, value: item.id %>
      <div class="btn-group">
        <%= f.submit "Actualiser la quantité", class: "btn btn-primary" %>
        <%= link_to "Supprimer", order_item, { data: { confirm: "Voulez vous vraiment supprimer le produit'#{order_item.item.name}' de votre panier?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
      </div>
    </div>
    <br>
    <h5 class="text-right">Total : <%= order_item.total_price %>€</h5>
  <% end %>
</div>
