<h2>S'inscrire</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form-control" %>
  </div><br>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Mot de passe (6 caractères minimum)", class: "form-control" %>
  </div><br>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Confirmation du mot de passe", class: "form-control" %>
  </div><br>

  <br>

  <div class="actions">
    <%= f.submit "S'inscrire", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
