<div class="container">
  <h1>Ajouter un produit</h1>

  <%= form_for @item, url: administration_items_path(@item) do |f| %>
    <p><%= f.label 'Nom du produit' %></p>
    <p><%= f.text_field :name, autofocus: true, class: "form-control" %><p>
    <p><%= f.label 'description produit' %></p>
    <p><%= f.text_field :description, class: "form-control" %><p>
    <p><%= f.label 'Prix de base' %></p>
    <p><%= f.number_field :original_price, class: "form-control" %><p>
    <p><%= f.label 'Remise sur produit en %' %></p>
    <p><%= f.number_field :discounted_percentage, value: 0, class: "form-control" %><p>
    <p><%= f.label 'Status produit' %></p>
    <p><%= f.select(:active, options_for_select([['Valider', true], ['Désactiver', false]]), class: "form-control") %></p>
    <p><%= f.submit 'Créer', class: "btn btn-primary" %></p>
  <% end -%>
</div>
