<div class="container">
<h2>Voici l'historique de vos commandes passées : </h2>
  <% if @order %>
  <table class="table table-sm table-striped table-bordered .table-responsive{-sm|-md|-lg|-xl}">
    <thead class="table-info">
      <tr>
        <th scope="col">Numéro de commande</th>
        <th scope="col">Date de commande</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
         <th scope="col">Détails</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th scope="row"><%= order.id %></th>
        <td><%= order.updated_at.strftime("%d-%m-%Y") %></td>
        <td><%= number_to_currency(order.subtotal, unit: "€", delimiter: "", format: "%n %u") %></td>
        <td><%= order.order_status.name %></td>
        <td><%= link_to 'Détails commande', user_order_path(@user, order), class: "btn btn-info"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="container">
    <p> Oups pas de commande </p>
    <p><%= link_to 'Voir la liste des produits',  root_path, class: 'btn btn-info' %> </p>
  </div>
  <% end %>
</div>
