<div class="">
  <br>
  <h1 class="text-center">Bienvenue à Magic Project</h1>
  <br><br>

  <div class="card-columns">
    <% @items.each do |item| %>
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/100x140" alt="<%= item.name %>">
        <div class="card-body">
          <h5 class="card-title"><a href="items/<%= item.id %>"><%= item.name %></a></h5>
          <p class="card-text"><%= item.description %></p>
          <span class="card-text"><%= item.original_price.to_i %></span>
          <span class="card-text"><%= item.discounted_percentage %></span>
          <span class="card-text"><%= item.price %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- https://via.placeholder.com/150 -->