<h1 class="text-center">Bienvenue à Magic Project</h1>
<br><br>

<div class="row">
  <% @items.each do |item| %>
    <div class="card col-lg-3 col-md-6 col-xs-12">
      <a href="items/<%= item.id %>">
      <img class="card-img-top" src="https://via.placeholder.com/300" alt="<%= item.name %>">
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></a></h5>
        <p class="card-text"><%= item.description %></p>
        <p class="card-text">Prix avant réduction : <%= item.original_price.to_i %>€</p>
        <p class="card-text"><%= item.discounted_percentage %></p>
        <p class="card-text">Prix après réduction : <%= item.price %>€</p>
      </div>
    </div>
  <% end %>
</div>

<div class='digg_pagination'>
  <%= will_paginate @items %>
</div>
