<div class="container jumbotron">
  <h1>Welcome to the magic card project</h1>
  <p>Find me in app/views/items/index.html.erb</p>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix de départ</th>
        <th>Pourcentage de remise</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><a href="items/<%= item.id %>"><%= item.name %></a></td>
          <td><%= item.original_price.to_i %></td>
          <td><%= item.discounted_percentage %></td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
