<div class="container jumbotron">
	<h1><%= @item.name %></h1>
	<p>Prix de départ : <%= @item.original_price.to_i %></p>
	<p>Pourcentage de remise : <%= @item.discounted_percentage %></p>
	<p>Prix : <b><%= @item.price %>€</b></p>

  <%= form_tag charges_path(id: @item.id) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @item.name %>"
          data-amount="<%= @item.price * 100 %>"
          data-locale="auto"></script>
  <% end %>
</div>
