<div class="container jumbotron">
	<h1><%= @item.name %></h1>
  <br>
  <% if @item.discounted_percentage > 0 %>
	  <p>Prix de départ : <%= @item.original_price.to_i %>€</p>
	  <p>Pourcentage de remise : <%= @item.discounted_percentage %>%</p>
  <% end %>
  <p>Prix : <b><%= @item.price %>€</b></p>
  <br>

  <% if user_signed_in? %> 
    <% if @order_item.new_record? %>
      <%= render  "layouts/add_to_cart", item: @item, order_item: @order_item %> 
    <% else %>
      <button class="btn btn-secondary disabled">Ajouté</button>
    <% end %>
  <% end %>

</div>
