<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <%= render partial: "layouts/header" %>
      </div>
        <div class="main">
          <%= render "layouts/shared/flash_messages" %>
          <main>
            <div>
              <%= yield %>
            </div>
          </main>
        </div>
    </div>
  </body>
</html>
